<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WPF_LoginForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="WPF_LoginForm.Properties.Settings.ENFAPRJDBConnectionString" connectionString="Data Source=EOZAN-LAP\ENFADATABASE;Initial Catalog=ENFAPRJDB;Persist Security Info=True;User ID=sa;Password=Gulce&amp;Yaser" providerName="System.Data.SqlClient" />
    <add name="ENFAPRJDBEntities" connectionString="metadata=res://*/Models.VeriModel.csdl|res://*/Models.VeriModel.ssdl|res://*/Models.VeriModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EOZAN-LAP\ENFADATABASE;initial catalog=ENFAPRJDB;persist security info=True;user id=sa;password=Gulce&amp;Yaser;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <userSettings>
    <WPF_LoginForm.Properties.Settings>
      <setting name="fontBoyut" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="menuBtnBoyut" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="color1" serializeAs="String">
        <value>226, 133, 222</value>
      </setting>
    </WPF_LoginForm.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>